/* Small devices (phones) */
@media screen and (max-width: 576px) {
  .fw-container {
    max-width: 540px !important;
  }
}

/* Medium devices (phones) */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .fw-container {
    max-width: 720px !important;
  }
}

/* Medium devices (tablets) */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .fw-container {
    max-width: 960px !important;
  }
}

/* Medium devices (desktops) */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .fw-container {
    max-width: 1140px !important;
  }
}

/* Large devices (large desktops) */
@media screen and (min-width: 1201px) {
  .fw-container {
    max-width: 1680px !important;
  }
}
