/*Typography*/
/*Colors*/
.primary-button, .secondary-button {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.32;
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 50px;
  max-width: 335px;
  text-align: center;
  display: block;
  border: 2px solid;
}

.main-navigation a, .main-navigation a:hover, .main-navigation a:focus, .header-contacts > a, .header-contacts > a:hover, .header-contacts > a:focus, .footer__link, .footer__link:hover, .footer__link:focus, .footer__contacts-item a, .footer__contacts-item a:hover, .footer__contacts-item a:focus, .primary-button, .primary-button:hover, .primary-button:focus, .secondary-button, .secondary-button:hover, .secondary-button:focus, .swiper-next, .swiper-next:hover, .swiper-next:focus, .section-hero__decoration, .section-hero__decoration:hover, .section-hero__decoration:focus {
  -webkit-transition: all linear 300ms;
  transition: all linear 300ms;
}

@media screen and (max-width: 576px) {
  .primary-button, .secondary-button {
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    text-align: center;
  }
}

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf) format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf) format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf) format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf) format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Bouffant";
  src: url(../fonts/Bouffant/bouffant.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  color: #5a5a5a;
  overflow-x: hidden;
  margin-bottom: 0 !important;
}

p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.section-title {
  font-family: "Bouffant", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125;
  font-size: 120px;
  color: #5a5a5a;
  margin: 0;
  padding: 0;
}

.section-text {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0px;
  font-size: 21px;
  color: #5a5a5a;
  margin-top: 5px;
  padding: 0;
}

.rotated-text {
  font-family: "Bouffant", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12;
  font-size: 65px;
  color: #5a5a5a;
  margin: 0;
  padding: 0;
  -webkit-transform: matrix(0.99, -0.14, 0.14, 0.99, 0, 0);
          transform: matrix(0.99, -0.14, 0.14, 0.99, 0, 0);
}

.white-text {
  color: #f0ecdf;
}

@media screen and (max-width: 576px) {
  .custom-container {
    max-width: 540px !important;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  .section-title {
    font-size: 90px;
  }
  .section-text {
    font-size: 18px;
  }
  .rotated-text {
    font-size: 50px;
  }
}

/* Medium devices (phones) */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .custom-container {
    max-width: 720px !important;
  }
}

/* Medium devices (tablets) */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .custom-container {
    max-width: 960px !important;
  }
}

/* Medium devices (desktops) */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .custom-container {
    max-width: 1140px !important;
  }
}

/* Large devices (large desktops) */
@media screen and (min-width: 1650px) {
  .custom-container {
    max-width: 1650px !important;
    margin-right: auto;
    margin-left: auto;
  }
}

.site-header {
  position: relative;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1510px;
}

.site-branding {
  min-width: 230px;
}

.main-navigation {
  padding-left: 140px;
  padding-right: 0px;
}

.main-navigation a {
  font-size: 20px;
  text-decoration: none;
  color: #5a5a5a;
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 21px;
  padding-left: 21px;
}

.main-navigation a:hover, .main-navigation a:focus {
  color: #f0ecdf;
  background: #034574;
}

.header-contacts {
  width: 690px;
  text-align: right;
  z-index: 1;
}

.header-contacts__icon {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  fill: #f0ecdf;
}

.header-contacts__icon:last-child {
  margin-left: 30px;
}

.header-contacts > a {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #f0ecdf;
}

.header-contacts > a:hover, .header-contacts > a:focus {
  color: #fff;
  border-bottom: 3px solid #fff;
}

.header-blue-block {
  width: 530px;
  height: 100%;
  position: absolute;
  background: #034574;
  right: 0;
  top: 0;
  z-index: 0;
}

@media screen and (max-width: 576px) {
  .site-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .site-branding {
    display: inline-block;
    min-width: 50px;
    max-width: 50%;
    margin-right: auto;
  }
  .main-navigation {
    display: inline-block;
    padding-left: 0px;
    margin-left: auto;
    margin-right: 0;
    width: 45px;
    text-align: left;
  }
  .header-contacts {
    display: none;
  }
  .header-contacts > a {
    display: none;
  }
  .header-blue-block {
    display: none;
  }
  /*.menu-main-menu-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 70;
    background: $accentColor;
    color: $secondaryColor;
  }*/
}

.menu-toggle {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  width: 45px;
  margin: 0;
  padding: 0;
}

.menu-icon {
  width: 45px;
  height: 45px;
  fill: #034574;
}

footer .section-title {
  padding-left: 45px;
}

.footer__container {
  position: relative;
}

.footer__container__texture-block {
  position: absolute;
  width: 1225px;
  height: 380px;
  bottom: 0;
  right: -135px;
  background: url("/wp-content/themes/ratskeller-wp/img/Blatttextur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 45px;
  padding-bottom: 90px;
}

.footer__contacts-container {
  list-style: none;
  padding-left: 45px;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  color: #5a5a5a;
}

.footer__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts-item:not(:last-child) {
  margin-bottom: 43px;
}

.footer__map {
  width: 740px;
  height: 370px;
}

.footer__icon {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  position: relative;
  margin-right: 16px;
}

.footer__icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__text {
  padding-right: 20px;
  width: 350px;
}

.footer__text--bold {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.footer__text--normal {
  margin-top: 20px;
  margin-bottom: 0;
}

.footer__absolute {
  background-color: #034574;
}

.footer__absolute-logo {
  width: 230px;
}

.footer__absolute-nav {
  padding-right: 5px;
}

.footer__absolute-hours {
  font-size: 24px;
  line-height: 1.33;
}

.footer__link {
  font-size: 20px;
  text-decoration: none;
  color: #f0ecdf;
  display: inline-block;
}

.footer__link:hover, .footer__link:focus {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.footer__link:not(:last-child) {
  margin-right: 30px;
}

.footer__bird {
  width: 370px;
  position: absolute;
  top: 30px;
  right: 0;
}

.footer-hour {
  font-size: 40px;
}

.footer__contacts-item a {
  text-decoration: none;
  color: #5a5a5a;
}

.footer__contacts-item a:hover, .footer__contacts-item a:focus {
  color: #034574;
  border-bottom: 2px solid #034574;
}

.map-icon {
  width: 20px;
  height: 25px;
  fill: #fff;
}

.user-icon {
  width: 39px;
  height: 39px;
  fill: #034574;
}

.facebook-icon {
  width: 39px;
  height: 39px;
  fill: #034574;
}

.email-icon {
  width: 39px;
  height: 39px;
  fill: #034574;
}

.phone-icon {
  width: 39px;
  height: 39px;
  fill: #034574;
}

.icon-blue-bg {
  background-color: #034574;
}

.footer-decoration {
  height: 1px;
  width: 670px;
  background-color: #f0ecdf;
  position: absolute;
  top: 75px;
  left: 570px;
}

.footer-decoration::before {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #f0ecdf;
  position: absolute;
  left: -5px;
  bottom: -4px;
}

.footer__absolute .custom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  footer .section-title {
    padding-left: 10px;
  }
  footer {
    background: url("/wp-content/themes/ratskeller-wp/img/Blatttextur.jpg");
    background-repeat: no-repeat;
    background-size: 100% 700px;
    background-position: 50% bottom;
  }
  .footer__container__texture-block {
    display: none;
  }
  .footer__content {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer__contacts-container {
    padding-left: 10px;
    font-size: 18px;
  }
  .footer__contacts-item:not(:last-child) {
    margin-bottom: 25px;
  }
  .footer__map {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .footer__text {
    padding-right: 20px;
    width: 100%;
  }
  .footer__absolute {
    text-align: center;
  }
  .footer__absolute-logo {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__absolute-hours {
    font-size: 20px;
  }
  .footer__bird {
    width: 40%;
    top: 250px;
  }
  .footer-decoration {
    height: 1px;
    width: 280px;
    top: 115px;
    left: 30px;
  }
  .footer-decoration::before {
    left: -5px;
    bottom: -4px;
  }
  .footer__absolute .custom-container {
    display: block;
  }
  .footer__link {
    font-size: 20px;
  }
  .footer__absolute-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.primary-button {
  border-color: #034574;
  color: #034574;
}

.primary-button:hover, .primary-button:focus {
  background-color: #034574;
  color: #f0ecdf;
}

.secondary-button {
  border-color: #f0ecdf;
  color: #f0ecdf;
}

.secondary-button:hover, .secondary-button:focus {
  background-color: #f0ecdf;
  color: #034574;
}

.section-hero-container {
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-next {
  fill: #f0ecdf;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.swiper-next:hover, .swiper-next:focus {
  fill: #034574;
  border-radius: 50%;
  border: 1px solid #f0ecdf;
}

.section-hero {
  margin-top: 0;
  margin-bottom: 0;
}

.section-hero__logo {
  max-width: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 40;
}

.section-hero__image {
  width: 1510px;
  height: 720px;
  position: relative;
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  z-index: 20;
}

.section-hero__blue-block {
  width: 530px;
  height: 720px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  background: #034574;
}

.section-hero__texture-block {
  height: 640px;
  width: 525px;
  position: absolute;
  top: 180px;
  left: -135px;
  background: no-repeat url("/wp-content/themes/ratskeller-wp/img/Blatttextur.jpg");
}

.section-hero__text {
  width: 530px;
  background: #034574;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: auto;
  padding-right: 90px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
}

.section-hero__text--small {
  display: block;
  text-align: center;
  font-size: 24px;
}

.section-hero__text--large {
  display: block;
  text-align: center;
  font-size: 59px;
  line-height: 1;
}

.section-hero__decoration {
  position: absolute;
  right: 45px;
  bottom: 445px;
  z-index: 30;
  width: 50px;
  height: 50px;
}

.section-hero__decoration:hover, .section-hero__decoration:focus {
  background-color: #f0ecdf;
  border-radius: 50%;
}

.section-hero__decoration::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 93px;
  right: 25px;
  height: 313px;
  width: 1px;
  background-color: #f0ecdf;
}

.section-hero__decoration::after {
  content: "";
  display: block;
  position: absolute;
  top: 85px;
  right: 25px;
  height: 395px;
  width: 1px;
  background-color: #f0ecdf;
}

.section-hero__text::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #f0ecdf;
  position: absolute;
  right: 65px;
  bottom: 20px;
}

@media screen and (max-width: 576px) {
  .section-hero {
    width: 100%;
    height: 100%;
  }
  .section-hero__image {
    width: 100%;
    height: 450px;
    position: static;
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    z-index: 20;
  }
  .section-hero__texture-block {
    display: none;
  }
  .section-hero__decoration {
    right: 20px;
    bottom: 50%;
  }
  .section-hero__decoration::before {
    height: 190px;
    right: 20px;
  }
  .section-hero__decoration::after {
    height: 215px;
    right: 20px;
  }
  .section-hero__blue-block {
    display: none;
  }
  .section-hero__text {
    max-width: 100%;
    padding-right: 0px;
  }
  .section-hero__text--small {
    font-size: 20px;
  }
  .section-hero__text--large {
    font-size: 48px;
  }
  .section-hero__text::after {
    right: 25px;
  }
  .swiper-next {
    width: 40px;
    height: 40px;
  }
}

.section-welcome {
  margin-top: 0px;
  margin-bottom: 50px;
}

.section-welcome-container {
  padding-bottom: 100px;
  position: relative;
}

.section-welcome__text-row {
  max-width: 700px;
  padding-left: 45px;
}

.section-welcome__bird {
  position: absolute;
  left: 750px;
  bottom: 0;
  width: 360px;
  z-index: 10;
}

.section-welcome__image {
  position: absolute;
  top: 150px;
  right: 70px;
  width: 765px;
}

.section-welcome__additional-text {
  width: 340px;
  position: absolute;
  bottom: 35px;
  left: 45px;
  color: #f0ecdf;
}

.section-welcome__decorative-block {
  display: block;
  position: absolute;
  right: 0;
  bottom: 40px;
  background-color: #034574;
  width: 530px;
  height: 560px;
  z-index: -1;
}

.section-welcome-container::before {
  content: "";
  position: absolute;
  right: 930px;
  top: 70px;
  width: 10px;
  height: 10px;
  background: #f0ecdf;
  border-radius: 50%;
}

.section-welcome-container::after {
  content: "";
  position: absolute;
  right: 60px;
  top: 74px;
  width: 870px;
  border-top: 1px solid #f0ecdf;
}

.section-welcome__decorative-line {
  position: absolute;
  left: 200px;
  bottom: 0;
  height: 50px;
  width: 1px;
  background: #f0ecdf;
}

.section-welcome__decorative-line::after {
  content: "";
  position: absolute;
  left: -4px;
  bottom: 0;
  width: 10px;
  height: 10px;
  background: #f0ecdf;
  border-radius: 50%;
}

@media screen and (max-width: 576px) {
  .section-welcome {
    margin-top: 50px;
  }
  .section-welcome-container {
    padding-bottom: 0px;
    position: relative;
  }
  .section-welcome__text-row {
    max-width: 100%;
    padding-left: 10px;
  }
  .section-welcome__bird {
    position: absolute;
    width: 30%;
    bottom: 0;
    left: 70%;
    z-index: 10;
  }
  .section-welcome__decorative-block {
    position: static;
    width: 100%;
    height: 200px;
    z-index: -1;
    margin-top: 70px;
  }
  .section-welcome__decorative-line {
    left: 50%;
    bottom: 210px;
  }
  .section-welcome__additional-text {
    left: 25px;
  }
  .section-welcome__image {
    display: none;
  }
  .section-welcome-container::before {
    display: none;
  }
  .section-welcome-container::after {
    display: none;
  }
}

.section-beer {
  background-image: url("/wp-content/themes/ratskeller-wp/img/Blatttextur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.section-beer__container {
  position: relative;
  padding-top: 60px;
  padding-bottom: 170px;
}

.section-beer__container__decor-left {
  position: absolute;
  top: -50px;
  left: -135px;
  width: 850px;
  height: 430px;
  background-image: url("/wp-content/themes/ratskeller-wp/img/Braumaschine.png");
  background-position: center -10%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-beer__container__decor-right {
  position: absolute;
  height: 440px;
  width: 850px;
  background-image: url("/wp-content/themes/ratskeller-wp/img/Braumaschine.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 35%;
  right: -750px;
}

.section-beer__text {
  max-width: 475px;
  margin-left: auto;
}

.section-beer__additional-text {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 700;
  line-height: 1.7;
  font-size: 21px;
  color: #5a5a5a;
  max-width: 765px;
  margin-top: 85px;
  margin-bottom: 0;
  margin-left: auto;
}

.section-beer__image-one {
  position: absolute;
  width: 390px;
  bottom: 150px;
  left: 0;
}

.section-beer__image-two {
  position: absolute;
  width: 390px;
  left: 420px;
  bottom: 150px;
}

.section-beer__image-three {
  position: absolute;
  width: 390px;
  left: 700px;
  bottom: 315px;
}

.section-text > ul {
  margin: 0;
  padding-left: 20px;
}

.section-beer ul {
  margin-top: 50px;
}

.section-beer__container::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #f0ecdf;
  border-radius: 50%;
  position: absolute;
  top: 125px;
  right: 530px;
}

.section-beer__container::after {
  content: "";
  width: 390px;
  height: 1px;
  background: #f0ecdf;
  position: absolute;
  top: 129px;
  right: 530px;
}

.section-beer__decoration {
  width: 10px;
  height: 10px;
  background: #f0ecdf;
  position: absolute;
  border-radius: 50%;
  right: 790px;
  bottom: 35px;
}

.section-beer__decoration::before {
  content: "";
  width: 420px;
  height: 1px;
  background: #f0ecdf;
  position: absolute;
  top: 4px;
  left: 0;
}

.section-beer__decoration::after {
  content: "";
  width: 1px;
  height: 240px;
  background: #f0ecdf;
  position: absolute;
  bottom: 0;
  left: 4px;
}

@media screen and (max-width: 576px) {
  .section-beer {
    background-image: url("/wp-content/themes/ratskeller-wp/img/Braumaschine.png"), url("/wp-content/themes/ratskeller-wp/img/Blatttextur.jpg");
    background-size: 500px 300px, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: 310px -35%, center;
  }
  .section-beer__container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section-beer__container__decor-right {
    display: none;
  }
  .section-beer__container__decor-left {
    display: none;
  }
  .section-beer__text {
    max-width: 100%;
    margin-left: 0;
    padding-left: 10px;
  }
  .section-beer__additional-text {
    font-size: 18px;
    max-width: 100%;
    margin-top: 30px;
    margin-left: 0;
    padding-left: 10px;
  }
  .section-beer__image-one {
    display: none;
  }
  .section-beer__image-two {
    display: none;
  }
  .section-beer__image-three {
    display: none;
  }
  .section-beer ul {
    margin-top: 30px;
  }
  .section-beer__container::before {
    top: 146px;
    right: 30px;
  }
  .section-beer__container::after {
    width: 300px;
    top: 150px;
    right: 30px;
  }
  .section-beer__decoration {
    left: 10px;
    bottom: 25px;
  }
  .section-beer__decoration::before {
    width: 300px;
    top: 4px;
    left: 0;
  }
  .section-beer__decoration::after {
    height: 150px;
    bottom: 0;
    left: 4px;
  }
}

.section-appartments {
  background-color: #034574;
  margin-top: 0;
  margin-bottom: 85px;
}

.section-appartments__container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 65px;
}

.section-appartments__container__decor-right {
  background-image: url("/wp-content/themes/ratskeller-wp/img/hafen.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 274px;
  width: 600px;
  bottom: 65px;
  right: -300px;
}

.section-appartments__container__decor-left {
  background-image: url("/wp-content/themes/ratskeller-wp/img/hafen.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 274px;
  width: 600px;
  top: -100px;
  left: -210px;
}

.section-appartments__text-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.section-appartments__left-images {
  position: absolute;
  width: 390px;
  left: 0;
  bottom: -30px;
}

.section-appartments__right-images {
  position: absolute;
  width: 390px;
  right: 0;
  bottom: 60px;
  z-index: 1;
}

.section-appartments__image-one {
  margin: 0;
}

.section-appartments__image-two {
  margin-top: 20px;
  margin-bottom: 0;
}

.section-appartments__image-three {
  margin: 0;
}

.section-appartments__image-four {
  margin-top: 20px;
  margin-bottom: 0;
}

.section-appartments__decoration-line {
  height: 600px;
  width: 1px;
  background-color: #f0ecdf;
  position: absolute;
  right: 190px;
  bottom: -55px;
  z-index: 0;
}

@media screen and (max-width: 576px) {
  .section-appartments {
    background-image: url("/wp-content/themes/ratskeller-wp/img/hafen.png");
    background-repeat: no-repeat;
    background-position: 310px 0;
    background-size: 400px;
    margin-bottom: 50px;
  }
  .section-appartments__container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-appartments__container__decor-right, .section-appartments__container__decor-left {
    display: none;
  }
  .section-appartments__text-wrapper {
    max-width: 100%;
    margin: 0 0;
  }
  .section-appartments__left-images {
    display: none;
  }
  .section-appartments__right-images {
    display: none;
  }
  .section-appartments__image-one {
    display: none;
  }
  .section-appartments__image-two {
    display: none;
  }
  .section-appartments__image-three {
    display: none;
  }
  .section-appartments__image-four {
    display: none;
  }
  .section-appartments__decoration-line {
    height: 50px;
    right: 50%;
    bottom: 10px;
    z-index: 0;
  }
  .section-appartments__decoration-line::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f0ecdf;
    position: absolute;
    bottom: 0;
    left: -4px;
  }
}
/*# sourceMappingURL=main.css.map */