.section-welcome {
  position: relative;

  margin-top: 0px;
  margin-bottom: 50px;
  padding-bottom: 100px;

  &__text-row {
    max-width: 700px;
    padding-left: 45px;
  }

  &__bird {
    position: absolute;

    left: 750px;
    bottom: 0;

    width: 360px;

    z-index: 10;
  }

  &__image {
    position: absolute;

    top: 150px;
    right: 70px;

    width: 765px;
  }

  &__additional-text {
    width: 340px;
    position: absolute;
    bottom: 35px;
    left: 45px;
    color: $secondaryColor;
  }

  &__decorative-block {
    display: block;
    position: absolute;
    right: 0;
    bottom: 40px;
    background-color: $accentColor;
    width: 530px;
    height: 560px;
    z-index: -1;
  }
}
