@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf)
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf) format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf)
    format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf)
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf)
    format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Bouffant";
  src: url(../fonts/Bouffant/bouffant.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
