%Button {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: $buttonTextSize;
  line-height: 1.32;
  text-decoration: none;

  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 50px;

  max-width: 335px;
  text-align: center;

  display: block;
  border: 2px solid;
}

%HoverAnimation {
  transition: background-color linear 0.15s, border-color linear 0.15s,
    color linear 0.15s;
}

@media screen and (max-width: 576px) {
  %Button {
    font-size: $buttonTextSizeMobile;

    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    max-width: 70%;
    text-align: center;
  }
}
