/*Typography*/

$mainTextSize: 21px;
$sectionHeaderSize: 120px;
$navTextSize: 20px;
$rotatedTextSize: 65px;
$buttonTextSize: 25px;

$mainTextSizeMobile: 18px;
$sectionHeaderSizeMobile: 90px;
$navTextSizeMobile: 20px;
$rotatedTextSizeMobile: 50px;
$buttonTextSizeMobile: 20px;

/*Colors*/

$primaryColor: #5a5a5a;
$secondaryColor: #f0ecdf;
$accentColor: #034574;
