.primary-button {
  @extend %Button;

  border-color: $accentColor;
  color: $accentColor;

  @extend %HoverAnimation;

  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $secondaryColor;
    @extend %HoverAnimation;
  }
}

.secondary-button {
  @extend %Button;

  border-color: $secondaryColor;
  color: $secondaryColor;

  @extend %HoverAnimation;

  &:hover,
  &:focus {
    background-color: $secondaryColor;
    color: $accentColor;

    @extend %HoverAnimation;
  }
}
