.site-header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1510px;
}

.site-branding {
  width: 230px;
}

.main-navigation {
  padding-left: 170px;
}

.main-navigation a {
  font-size: 20px;
  text-decoration: none;
  color: $primaryColor;

  @extend %HoverAnimation;

  &:hover,
  &:focus {
    color: $accentColor;

    @extend %HoverAnimation;
  }
}

#primary-menu > li {
  padding-right: 30px;
}

.header-contacts {
  width: 620px;
  text-align: right;
  z-index: 1;

  &__icon {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    fill: $secondaryColor;

    &:last-child {
      margin-left: 30px;
    }
  }
}

.header-contacts > a {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: $secondaryColor;
  @extend %HoverAnimation;

  &:hover,
  &:focus {
    color: #fff;
    border-bottom: 3px solid #fff;

    @extend %HoverAnimation;
  }
}

.header-blue-block {
  width: 530px;
  height: 100%;
  position: absolute;
  background: $accentColor;

  right: 15px;
  top: 0;

  z-index: 0;
}
