body {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;

  font-size: $mainTextSize;
  color: $primaryColor;
  overflow-x: hidden;
  margin-bottom: 0 !important;
}

p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.section-title {
  font-family: "Bouffant", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125;

  font-size: $sectionHeaderSize;
  color: $primaryColor;

  margin: 0;
  padding: 0;
}

.section-text {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0px;

  font-size: $mainTextSize;
  color: $primaryColor;

  margin-top: 5px;
  padding: 0;
}

.rotated-text {
  font-family: "Bouffant", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12;

  font-size: $rotatedTextSize;
  color: $primaryColor;

  margin: 0;
  padding: 0;

  transform: matrix(0.99, -0.14, 0.14, 0.99, 0, 0);
}

.white-text {
  color: $secondaryColor;
}

@media screen and (max-width: 576px) {
  .custom-container {
    max-width: 540px !important;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .section-title {
    font-size: $sectionHeaderSizeMobile;
  }

  .section-text {
    font-size: $mainTextSizeMobile;
  }

  .rotated-text {
    font-size: $rotatedTextSizeMobile;
  }
}

/* Medium devices (phones) */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .custom-container {
    max-width: 720px !important;
  }
}

/* Medium devices (tablets) */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .custom-container {
    max-width: 960px !important;
  }
}

/* Medium devices (desktops) */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .custom-container {
    max-width: 1140px !important;
  }
}

/* Large devices (large desktops) */
@media screen and (min-width: 1650px) {
  .custom-container {
    max-width: 1650px !important;
    margin-right: auto;
    margin-left: auto;
  }
}
